* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: rgb(155, 150, 150);
}
#arriba {
    background-color: rgb(255, 255, 255);
    flex: 10;
}
#cajaTexto{
    transition: background 1s;
    padding: 5px;
    background-color: rgb(99, 150, 245);
    flex: 1;
}
#click:hover {
    background-color: aqua;
    width: 100px;
}
#colorBoton:hover {
    background-color: aqua;
    width: 100px;
}
#clic:hover {
    background-color: aqua;
    width: 100px;
}
#boton:hover {
    background-color: aqua;
    width: 100px;
}